body
{
    height: 100vh;
    
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

    grid-template-rows: 50px 1fr 50px;
}

header
{
    grid-area: header;
    background-color: #2A8C82;
}

/* ajustes de titulo com interferencia do normalize */

header h1
{
    text-align: center;
    margin: auto;
}


main
{
    grid-area: main;
    background-color: #41BFB3;
    /* grid-template-areas:
    ""
    ""
    ""
    ""
    ""
    ""
    ""
    ""
    ; */
}

.calculator
{
    text-align: center;
}

footer
{
    grid-area: footer;
    background-color: #2A8C82;
}

.info-rodape
{
    display: flex;
    justify-content: center;
}

/* criar margem entre as imagens para ajustar ao designe */

.social-links img
{
    padding: 0px;
    width: 30px;
    border-radius: 50px;
}

#logo-gem
{
    width: 30px;
    border-radius: 50px;
    filter: brightness(0%)
}