:root {
  --bg-green-300: #88F2E8;
  --bg-green-400: #41BFB3;
  --bg-green-500: #2A8C82;
  --bg-green-600: #275950;
  --text-color: #000;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
html {
  width: 100vw;
  height: 100vh;
  background: var(--bg-green-400);
}

/* Header */
header {
  position: fixed;
  background-color: var(--bg-green-500);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main .calculator {
  display: block;
  background: var(--bg-green-300);
  border: 2px solid var(--bg-green-500);
  border-radius: 5px;
  margin-inline: 10px;
  width: 500px;
  height: 700px;
}

.calculator-head {
  display: flex;
  flex-direction: column;
  gap: 50%;
  padding: 15px;
  height: 20%;
}

/* .calculator-head hr {
  border: 1px solid #000;
  width: 100%;
} */

.calculator-body {
  display: grid;
  grid-template-areas: "btn1 btn2 btn3 btn4";
  padding: 15px;
  width: 100%;
  height: 80%;
  gap: 15px;
}

button {
  background: var(--bg-green-400);
  padding: 20px;
  border: 1px solid var(--bg-green-500);
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  border-radius: 5px;
}
.button-equal {
  grid-column: 5/3;
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  padding: 5px;
  bottom: 0;
  position: fixed;
  background-color: var(--bg-green-500);
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-links {
  background: var(--bg-green-600);
  width: 60px;
  padding: 7px;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icone-gen {
  width: 45px;
}

.social-links img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #000;
}

.social-links a {
  display: none;
}